exportPattern("^[[:alpha:]]+")
S3method("direct.label", "trellis")
S3method("direct.label", "ggplot")
import(grid)
import(quadprog)
S3method("drawDetails", "dlgrob")
importFrom("grDevices", "dev.off", "png")
importFrom("stats", "approx", "update", "var")
importFrom("utils", "capture.output", "data")
