td.home {
	border-width: 1px;
	border-spacing: 0px;
	padding: 2px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}
table.home {
    border-spacing: 0px; 
    border-collapse: collapse;
}

body, td {
	font-family: Arial, Helvetica, sans-serif;
	color: #1E1E1E;
	font-size: small;
}


.top {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: small;	
	font-style: normal;	
	color: #FFFFFF;	
	font-weight: bold;
	background-image: url(../images/centroAzul.gif);
}

.normal {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: medium;	
	font-style: normal;	
	color: #333333;
}

.subTop {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: medium;	
	font-style: normal;	
	font-weight: bold;	
	color: #333333;
}

.tabLeft { 
	background-image: url(../images/botoneraIZ.jpg);  background-repeat: no-repeat;  
}

.tabRight { 
	background-image: url(../images/botoneraDE.jpg);  background-repeat: no-repeat;
	background-position: right;
}

.tableTab {
	background-image: url(../images/botoneraBlanca.jpg);
	background-repeat: repeat-x;
}

a:link {	
	color: #0076D5;	
	text-decoration: none;
}

a:visited {	
	color: #004787;
	text-decoration: none;
}
	
a:hover {	
	text-decoration: underline;	
	color: #0076D5;
}

img {
	border: 0px;
}


.selectedTab a,.selectedTab a:link, .selectedTab a:hover, .selectedTab a:visited {
}

