OBJ$head

<h1><a href="https://tdhock.github.io/directlabels/">directlabels</a>
documentation</h1>

<p>
Welcome to the directlabels package documentation website, where you
can find illustrations of how to use direct labels in common
statistical graphics. Furthermore, you can learn how to construct
Positioning Methods by looking at the examples.
</p>

<p>All the examples on this site should be directly executable in R
after installing and loading the directlabels package. To get started,
execute this R code:</p>

<pre>
## Install required dependencies:
install.packages(c("ggplot2","reshape2","mlmRev","lars","latticeExtra"))
## Install directlabels:
install.packages("directlabels")
## Load it:
library(directlabels)
</pre>

<table class="home">
<tr>
  <td></td>
  <td>Examples</td>
  <td>Positioning Methods</td>
</tr>
OBJ$table
</table>

OBJ$foot
